<div class="container-fluid">
  <div class="row">
    <div class="col-3">

      <div id="sidebarMenu">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a class="list-group-item list-group-item-action py-2" routerLink="/myday" routerLinkActive="active">My
              Day</a>
            <a class="list-group-item list-group-item-action py-2" routerLink="/important"
              routerLinkActive="active">Important</a>
            <a class="list-group-item list-group-item-action py-2" routerLink="/planned"
              routerLinkActive="active">Planned</a>
            <a class="list-group-item list-group-item-action py-2" routerLink="/assigned"
              routerLinkActive="active">Assigned to me</a>
            <a class="list-group-item list-group-item-action py-2" routerLink="/tasks"
              routerLinkActive="active">Tasks</a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>